Repository GSG-G11/Taskillo, pull requests merged in 2022-05, with the labels that each got.

#42 Create Route Signup
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/projects/users/index.ts
  server/src/controllers/projects/users/signUp.ts
  server/src/database/ quieres/index.ts
  server/src/database/ quieres/userQueries/checkEmailQuery.ts
  server/src/database/ quieres/userQueries/index.ts
  server/src/database/ quieres/userQueries/signUpQuery.ts
  server/src/middlewares/checkAuth.ts
  server/src/routes/index.ts
  server/src/routes/userRoutes.ts
  server/src/utils/index.ts
  server/src/utils/validation/index.ts
  server/src/utils/validation/signUpSchema.ts
  server/src/utils/verification/index.ts
  server/tsconfig.json
Labels: back-end, route, Approved

#40 Handle Get Projects Route
  server/.eslintrc.json
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/projects/getProjectsController.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/projects/users/index.ts
  server/src/controllers/user/index.ts
  server/src/controllers/user/login.ts
  server/src/controllers/user/signIn.ts
  server/src/controllers/user/signUp.ts
  server/src/database/ quieres/index.ts
  server/src/database/config/build.sql
  server/src/database/config/fakeData.sql
  server/src/database/config/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/projects/getProjectsQuery.ts
  server/src/database/quieres/projects/index.ts
  server/src/database/quieres/userQueries/checkEmailQuery.ts
  server/src/database/quieres/userQueries/index.ts
  server/src/database/quieres/userQueries/signUpQuery.ts
  server/src/middlewares/index.ts
  server/src/routes/index.ts
  server/src/routes/projectsRoute.ts
  server/src/utils/index.ts
  server/src/utils/validation/index.ts
  server/src/utils/validation/signUpSchema.ts
Labels: Awaiting Review, back-end, route

#50 Handle Add Project Route
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/projects/addProjectController.ts
  server/src/controllers/projects/getProjectsController.ts
  server/src/controllers/projects/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/projects/addProjectQuery.ts
  server/src/database/quieres/projects/addUserProjectsQuery.ts
  server/src/database/quieres/projects/index.ts
  server/src/routes/index.ts
  server/src/routes/projectsRoute.ts
  server/src/routes/userRoutes.ts
  server/src/utils/index.ts
  server/src/utils/validation/addProjectSchema.ts
  server/src/utils/validation/index.ts
  server/src/utils/validation/sendEmailSchema.ts
Labels: back-end, route, Approved

#52 Handel Delete Project Route
  server/src/controllers/index.ts
  server/src/controllers/projects/deleteProjectController.ts
  server/src/controllers/projects/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/projects/addUserProjectsQuery.ts
  server/src/database/quieres/projects/deleteProjectQuery.ts
  server/src/database/quieres/projects/getProjectsQuery.ts
  server/src/database/quieres/projects/index.ts
  server/src/database/quieres/userQueries/checkEmailQuery.ts
  server/src/routes/index.ts
  server/src/routes/projectsRoute.ts
Labels: Awaiting Review, back-end, route

#38 Create Login Controller
  server/src/app.ts
  server/src/controllers/errors/index.ts
  server/src/controllers/index.ts
  server/src/controllers/user/index.ts
  server/src/controllers/user/login.ts
  server/src/controllers/user/signIn.ts
  server/src/controllers/user/signUp.ts
  server/src/database/config/build.sql
  server/src/routes/index.ts
  server/src/routes/userRoute.ts
  server/src/routes/userRoutes.ts
Labels: Awaiting Review, back-end, route

#51 Handle Delete Task Route
  server/.eslintrc.json
  server/src/controllers/index.ts
  server/src/controllers/tasks/deleteTaskController.ts
  server/src/controllers/tasks/index.ts
  server/src/database/ quieres/index.ts
  server/src/database/ quieres/tasks/deleteTaskQuery.ts
  server/src/middlewares/checkAuth.ts
  server/src/middlewares/index.ts
  server/src/routes/index.ts
  server/src/routes/taskRoute.ts
Labels: Awaiting Review, back-end, route

#58 Create send email controller
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/user/index.ts
  server/src/controllers/user/sendEmailController.ts
  server/src/controllers/user/signUp.ts
  server/src/routes/index.ts
Labels: Awaiting Review, back-end, route

#60 Create get task route
  server/src/app.ts
  server/src/controllers/errors/index.ts
  server/src/controllers/index.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/tasks/index.ts
  server/src/controllers/user/signUp.ts
  server/src/database/ quieres/index.ts
  server/src/database/ quieres/tasksQueries/getTasksQuery.ts
  server/src/database/ quieres/tasksQueries/index.ts
  server/src/database/config/fakeData.sql
  server/src/routes/index.ts
  server/src/routes/projectsRoute.ts
  server/src/routes/taskRoute.ts
  server/src/routes/tasksRoute.ts
Labels: back-end, route, Approved

#67 Create asyncMiddleware Function
  server/src/middlewares/asyncMiddleware.ts
  server/src/middlewares/index.ts
Labels: back-end, Approved

#63 Create Edit Task Route
  server/.eslintrc.json
  server/src/controllers/index.ts
  server/src/controllers/tasks/deleteTaskController.ts
  server/src/controllers/tasks/editTaskController.ts
  server/src/controllers/tasks/index.ts
  server/src/database/config/build.sql
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/tasks/editTaskQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/index.ts
  server/src/routes/taskRoute.ts
Labels: Awaiting Review, back-end, route

#69 Handle edit section
  server/.eslintrc.json
  server/src/controllers/index.ts
  server/src/controllers/sections/addSectionController.ts
  server/src/controllers/sections/deleteSectionController.ts
  server/src/controllers/sections/editSectionController.ts
  server/src/controllers/sections/index.ts
  server/src/database/config/build.sql
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/sections/addSectionQuery.ts
  server/src/database/quieres/sections/deleteSectionQuery.ts
  server/src/database/quieres/sections/editSectionQuery.ts
  server/src/database/quieres/sections/index.ts
  server/src/routes/index.ts
  server/src/routes/sectionsRoute.ts
  server/src/routes/taskRoute.ts
  server/src/routes/tasksRoute.ts
  server/src/routes/userRoute.ts
  server/src/utils/index.ts
  server/src/utils/validation/addSectionSchema.ts
  server/src/utils/validation/index.ts
Labels: back-end, route, Approved

#62 Create get task to section
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/tasks/getTasksSection.ts
  server/src/controllers/tasks/index.ts
  server/src/database/ quieres/index.ts
  server/src/database/ quieres/tasksQueries/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/tasks/getTasksQuery.ts
  server/src/database/quieres/tasks/getTasksSectionQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/index.ts
  server/src/routes/tasksRoute.ts
Labels: Awaiting Review, back-end, route

#64 Handle Get Specific Project Route
  server/src/controllers/index.ts
  server/src/controllers/projects/addProjectController.ts
  server/src/controllers/projects/getSpecificProjectController.ts
  server/src/controllers/projects/index.ts
  server/src/database/config/fakeData.sql
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/projects/getMembersQuery.ts
  server/src/database/quieres/projects/getSpecificProjectQuery.ts
  server/src/database/quieres/projects/index.ts
  server/src/routes/projectsRoute.ts
  server/tsconfig.json
Labels: back-end, route, Approved

#68 Handle delete section
  server/src/controllers/sections/deleteSectionController.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/sections/getOneSectionQuery.ts
  server/src/database/quieres/sections/index.ts
Labels: Awaiting Review, back-end, route

#70 Handle get sections
  server/src/controllers/index.ts
  server/src/controllers/sections/getProjectSectionsController.ts
  server/src/controllers/sections/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/sections/getProjectSectionsQuery.ts
  server/src/database/quieres/sections/index.ts
  server/src/routes/sectionsRoute.ts
Labels: Awaiting Review, back-end, route

#66 Handle add section
  server/src/database/quieres/sections/index.ts
Labels: Awaiting Review, back-end, route

#71 Create add task route
  server/src/controllers/index.ts
  server/src/controllers/tasks/addTask.ts
  server/src/controllers/tasks/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/tasks/addTaskQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/tasksRoute.ts
  server/src/utils/validation/addTaskSchema.ts
  server/src/utils/validation/index.ts
Labels: back-end, route, Approved

#77 Refactor sections
  server/src/controllers/index.ts
  server/src/controllers/sections/addSection.ts
  server/src/controllers/sections/addSectionController.ts
  server/src/controllers/sections/deleteSection.ts
  server/src/controllers/sections/deleteSectionController.ts
  server/src/controllers/sections/editSection.ts
  server/src/controllers/sections/editSectionController.ts
  server/src/controllers/sections/getProjectSections.ts
  server/src/controllers/sections/getProjectSectionsController.ts
  server/src/controllers/sections/index.ts
  server/src/middlewares/checkAuth.ts
  server/src/routes/sectionsRoute.ts
Labels: back-end, Approved, Refactor

#79 Refactor tasks
  server/src/controllers/tasks/addTask.ts
  server/src/controllers/tasks/deleteTask.ts
  server/src/controllers/tasks/deleteTaskController.ts
  server/src/controllers/tasks/editTask.ts
  server/src/controllers/tasks/editTaskController.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/tasks/getTasksSection.ts
  server/src/controllers/tasks/index.ts
  server/src/middlewares/checkAuth.ts
  server/src/routes/tasksRoute.ts
Labels: back-end, Approved, Refactor

#80 Refactor Users
  server/src/controllers/index.ts
  server/src/controllers/user/index.ts
  server/src/controllers/user/login.ts
  server/src/controllers/user/sendEmailController.ts
  server/src/controllers/user/signUp.ts
  server/src/controllers/users/index.ts
  server/src/controllers/users/login.ts
  server/src/controllers/users/sendEmail.ts
  server/src/controllers/users/signUp.ts
  server/src/database/quieres/tasks/editTaskQuery.ts
  server/src/routes/userRoute.ts
  server/src/routes/usersRoute.ts
Labels: Awaiting Review, back-end, Refactor

#82 Finish Refactor
  server/src/controllers/errors/index.ts
  server/src/controllers/projects/addProject.ts
  server/src/controllers/tasks/addTask.ts
  server/src/controllers/tasks/deleteTask.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/tasks/getTasksSection.ts
  server/src/controllers/users/signUp.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/tasks/addTaskQuery.ts
  server/src/database/quieres/tasks/addUserTaskQuery.ts
  server/src/database/quieres/tasks/deleteTaskQuery.ts
  server/src/database/quieres/tasks/editTaskQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/index.ts
  server/src/routes/tasksRoute.ts
  server/src/utils/validation/addTaskSchema.ts
  server/src/utils/validation/index.ts
  server/src/utils/validation/signUpSchema.ts
  server/src/utils/verification/sendCode.ts
  server/src/utils/verification/verifyCode.ts
Labels: back-end, Approved, Refactor

#84 Create CheckMember Middleware
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/projects/getCheckMembersQuery.ts
  server/src/database/quieres/projects/getProjectsQuery.ts
  server/src/database/quieres/projects/index.ts
  server/src/middlewares/checkMember.ts
  server/src/middlewares/index.ts
  server/src/routes/projectsRoute.ts
  server/src/routes/sectionsRoute.ts
  server/src/routes/tasksRoute.ts
Labels: back-end, Approved

#85 Refactor
  server/src/controllers/errors/clientError.ts
  server/src/controllers/errors/index.ts
  server/src/controllers/errors/serverError.ts
  server/src/controllers/users/sendEmail.ts
  server/src/middlewares/checkMember.ts
  server/src/routes/projectsRoute.ts
  server/src/routes/sectionsRoute.ts
  server/src/routes/tasksRoute.ts
Labels: back-end, Approved, Refactor

#86 Handle Errors and Refactor Code
  server/src/controllers/errors/serverError.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/users/sendEmail.ts
  server/src/database/config/build.ts
  server/src/utils/cloudinary/index.ts
  server/src/utils/jwt/signToken.ts
  server/src/utils/jwt/verifyToken.ts
  server/src/utils/verification/verifyCode.ts
Labels: back-end, Approved, Refactor

#93 test get tasks for specific section
  server/.eslintrc.json
  server/package-lock.json
  server/src/database/config/fakeData.sql
  server/tests/routes.test.ts
Labels: Awaiting Review, back-end, route, Test

#91 Test get task route
  server/package.json
  server/src/database/config/fakeData.sql
  server/tests/routes.test.ts
Labels: Awaiting Review, back-end, route, Test

#99 Edit tests route and edit fakeDate
  server/src/controllers/tasks/getTasks.ts
  server/src/database/config/fakeData.sql
  server/src/database/quieres/index.ts
  server/src/database/quieres/users/checkEmailQuery.ts
  server/src/database/quieres/users/index.ts
  server/src/database/quieres/users/signUpQuery.ts
  server/tests/routes.test.ts
Labels: Awaiting Review, Refactor, Test

#96 Frontend file structure
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/components/index.js
  client/src/context/index.js
  client/src/images/logo.svg
  client/src/index.css
  client/src/index.js
  client/src/pages/index.js
  client/src/scss/style.scss
  client/src/utils/index.js
Labels: Awaiting Review, front-end

#102 Create signup form frontend
  client/src/App.js
  client/src/components/Form/FormField.jsx
  client/src/components/Form/SubmitButton.jsx
  client/src/components/Form/index.jsx
  client/src/components/UI/Button.jsx
  client/src/images/signup.svg
  client/src/index.css
  client/src/index.js
  client/src/pages/SignUp/index.js
  client/src/pages/SignUp/signUp.jsx
  client/src/pages/SignUp/signup.css
  client/src/pages/index.js
  client/src/pages/sendEmail/sendEmail.js
  client/src/pages/sendEmail/style.css
  client/src/utils/index.js
  client/src/utils/signUpValidation.js
Labels: Awaiting Review, front-end

#106 Finish Login With Redux
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/Form/FormField.jsx
  client/src/components/Form/TextError.jsx
  client/src/components/Form/index.js
  client/src/index.css
  client/src/index.js
  client/src/pages/Home/index.jsx
  client/src/pages/Login/index.jsx
  client/src/pages/Login/style.css
  client/src/pages/SendEmail/index.jsx
  client/src/pages/SendEmail/style.css
  client/src/pages/SignUp/index.js
  client/src/pages/SignUp/index.jsx
  client/src/pages/SignUp/signUp.jsx
  client/src/pages/SignUp/style.css
  client/src/pages/index.js
  client/src/pages/login/index.js
  client/src/pages/login/test.jsx
  client/src/pages/sendEmail/index.js
  client/src/scss/style.scss
  client/src/state/index.js
  client/src/state/user.js
  client/src/utils/getToken.js
  client/src/utils/index.js
  client/src/utils/loginValidation.js
  client/src/utils/signUpValidation.js
  server/src/controllers/users/login.ts
  server/src/controllers/users/sendEmail.ts
  server/src/controllers/users/signUp.ts
  server/src/database/config/fakeData.sql
Labels: Awaiting Review, front-end

#115 Refactor front&back end
  client/src/App.js
  server/src/controllers/projects/deleteProject.ts
  server/src/controllers/projects/editProject.ts
  server/src/controllers/projects/getSpecificProject.ts
  server/src/controllers/sections/deleteSection.ts
Labels: back-end, front-end, Refactor

#110 Create Navbar Component
  client/src/App.js
  client/src/components/Navbar/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/components/index.js
  client/src/index.css
  client/src/index.js
  client/src/pages/Home/style.css
  client/src/state/modal.js
  server/package.json
Labels: Awaiting Review, front-end

#122 Create Board Page
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/Card/index.jsx
  client/src/components/Form/SubmitButton.jsx
  client/src/components/Navbar/index.jsx
  client/src/components/Navbar/style.css
  client/src/components/Project/Board.jsx
  client/src/components/Project/List.jsx
  client/src/components/Project/Overview.jsx
  client/src/components/Project/index.js
  client/src/components/Section/SectionHeader.jsx
  client/src/components/Section/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/components/UI/Button.jsx
  client/src/components/UI/Logo.jsx
  client/src/components/UI/Menu.jsx
  client/src/components/UI/index.js
  client/src/components/index.js
  client/src/index.css
  client/src/index.js
  client/src/pages/Home/style.css
  client/src/pages/Login/index.jsx
  client/src/pages/Project/index.jsx
  client/src/pages/SendEmail/index.jsx
  client/src/pages/SignUp/index.jsx
  client/src/pages/index.js
  client/src/state/project.js
  client/src/state/sections.js
  client/src/state/tasks.js
  client/src/utils/formatDate.js
  client/src/utils/index.js
  client/src/utils/statusColor.js
  server/src/controllers/index.ts
  server/src/controllers/projects/addProject.ts
  server/src/controllers/sections/addSection.ts
  server/src/controllers/sections/deleteSection.ts
  server/src/controllers/sections/editSection.ts
  server/src/controllers/tasks/addTask.ts
  server/src/controllers/tasks/dragTask.ts
  server/src/controllers/tasks/getTasksSection.ts
  server/src/controllers/tasks/index.ts
  server/src/database/config/fakeData.sql
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/sections/addSectionQuery.ts
  server/src/database/quieres/sections/deleteSectionQuery.ts
  server/src/database/quieres/sections/getProjectSectionsQuery.ts
  server/src/database/quieres/tasks/dragTaskQuery.ts
  server/src/database/quieres/tasks/getTasksSectionQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/tasksRoute.ts
Labels: Awaiting Review, front-end

#121 Staff page
  client/src/App.js
  client/src/components/Sidebar/index.jsx
  client/src/components/SingleStaff/index.jsx
  client/src/components/StaffHeader/index.jsx
  client/src/components/StaffMember/index.jsx
  client/src/images/user.jfif
  client/src/index.css
  client/src/index.js
  client/src/pages/Staff/index.jsx
  client/src/pages/index.js
  client/src/state/userProjects.js
  client/src/utils/generateAvatarColor.js
  server/src/controllers/index.ts
  server/src/controllers/projects/getProjectMembers.ts
  server/src/controllers/projects/index.ts
  server/src/routes/projectsRoute.ts
Labels: front-end, Approved

#123 Create dashboard page
  client/src/App.js
  client/src/components/DashboardCards/Activity.jsx
  client/src/components/DashboardCards/Project.jsx
  client/src/components/DashboardCards/Slide.jsx
  client/src/components/DashboardCards/Staff.jsx
  client/src/components/DashboardCards/Task.jsx
  client/src/components/DashboardCards/index.js
  client/src/components/Form/index.jsx
  client/src/components/index.js
  client/src/images/github.svg
  client/src/images/linkedin.svg
  client/src/images/member1.svg
  client/src/images/member2.svg
  client/src/images/twitter.svg
  client/src/index.css
  client/src/index.js
  client/src/pages/Home/index.jsx
  client/src/pages/dashboard/index.jsx
  client/src/pages/dashboard/style.css
  client/src/pages/index.js
  client/src/state/projectDashboard.js
Labels: In Progress, front-end

#119 Create task page
  client/src/App.js
  client/src/components/Navbar/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/components/Table/index.jsx
  client/src/components/TaskForm/index.jsx
  client/src/components/UI/index.js
  client/src/components/UI/pagination.jsx
  client/src/components/index.js
  client/src/components/modal/index.jsx
  client/src/index.js
  client/src/pages/Task/index.jsx
  client/src/pages/index.js
  client/src/state/modal.js
  client/src/state/pagination.js
  client/src/state/task.js
  package-lock.json
  server/src/controllers/tasks/editTask.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/database/config/fakeData.sql
  server/src/database/quieres/tasks/editTaskQuery.ts
  server/src/database/quieres/tasks/getTasksQuery.ts
  server/src/routes/tasksRoute.ts
Labels: Awaiting Review, front-end

#126 Add new project
  client/package-lock.json
  client/package.json
  client/src/components/AddProjectModal/index.jsx
  client/src/components/AddProjectModal/style.css
  client/src/components/DashboardCards/Project.jsx
  client/src/components/Navbar/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/components/index.js
  client/src/index.js
  client/src/pages/Home/index.jsx
  client/src/pages/Project/index.jsx
  client/src/pages/Staff/index.jsx
  client/src/pages/dashboard/index.jsx
  client/src/state/modal.js
  client/src/utils/addProjectValidation.js
  client/src/utils/index.js
  client/src/utils/loginValidation.js
Labels: Awaiting Review, front-end

#128 Add task in board page
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/Card/index.jsx
  client/src/components/Form/SubmitButton.jsx
  client/src/components/Modal/index.jsx
  client/src/components/Project/Board.jsx
  client/src/components/Section/SectionHeader.jsx
  client/src/components/Section/index.jsx
  client/src/components/SingleStaff/index.jsx
  client/src/components/Table/index.jsx
  client/src/components/TaskForm/index.jsx
  client/src/components/index.js
  client/src/components/modal/index.jsx
  client/src/index.js
  client/src/pages/Task/index.jsx
  client/src/state/action.js
  client/src/state/modal.js
  client/src/state/task.js
  client/src/utils/statusColor.js
  server/src/controllers/tasks/addTask.ts
  server/src/database/config/fakeData.sql
  server/src/database/quieres/tasks/addTaskQuery.ts
  server/src/database/quieres/tasks/getTasksQuery.ts
  server/src/routes/tasksRoute.ts
  server/src/utils/validation/addTaskSchema.ts
Labels: Awaiting Review, front-end

#130 Solve issues
  client/src/components/AddProjectModal/style.css
  client/src/components/Card/index.jsx
  client/src/components/DashboardCards/Project.jsx
  client/src/components/Modal/index.jsx
  client/src/components/Project/Board.jsx
  client/src/components/Project/Overview.jsx
  client/src/components/Section/SectionHeader.jsx
  client/src/components/Section/index.jsx
  client/src/components/Table/index.jsx
  client/src/components/TaskForm/index.jsx
  client/src/components/UI/Menu.jsx
  client/src/index.css
  client/src/index.js
  client/src/pages/dashboard/index.jsx
  client/src/pages/dashboard/style.css
  client/src/scss/style.scss
  client/src/state/currentSection.js
  client/src/state/index.js
  package-lock.json
  server/src/controllers/tasks/dragTask.ts
  server/src/routes/tasksRoute.ts
Labels: Awaiting Review, back-end, front-end

#134 Create list of task in every project
  client/src/components/Card/index.jsx
  client/src/components/DashboardCards/Project.jsx
  client/src/components/DashboardCards/Task.jsx
  client/src/components/Navbar/index.jsx
  client/src/components/Project/List.jsx
  client/src/components/Table/index.jsx
  client/src/index.js
  client/src/pages/Project/index.jsx
  client/src/pages/Task/index.jsx
  client/src/state/page.js
Labels: front-end, Approved

#136 Landing page
  .history/README_20220525111731.md
  .history/README_20220525134840.md
  client/public/index.html
  client/public/logo.svg
  client/src/App.js
  client/src/components/LandingPage/ArticlesSec.jsx
  client/src/components/LandingPage/BannerSec.jsx
  client/src/components/LandingPage/Footer.jsx
  client/src/components/LandingPage/Navbar.jsx
  client/src/components/LandingPage/RocketSec.jsx
  client/src/components/LandingPage/img/Logo.svg
  client/src/components/LandingPage/img/doing-tasks.svg
  client/src/components/LandingPage/img/done-man.svg
  client/src/components/LandingPage/img/done-women.svg
  client/src/components/LandingPage/img/footer-logo.svg
  client/src/components/LandingPage/img/just-what.svg
  client/src/components/LandingPage/img/mobile-footer.svg
  client/src/components/LandingPage/img/mobile-header.svg
  client/src/components/LandingPage/img/rocket.png
  client/src/components/LandingPage/index.js
  client/src/pages/LandingPage/index.jsx
  client/src/pages/LandingPage/style.scss
  client/src/pages/index.js
Labels: Awaiting Review, front-end

#137 Calender
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/Calendar/index.jsx
  client/src/components/Project/List.jsx
  client/src/components/Project/Overview.jsx
  client/src/components/index.js
  client/src/pages/Calendar/index.jsx
  client/src/pages/Dashboard/index.jsx
  client/src/pages/Dashboard/style.css
  client/src/pages/index.js
Labels: front-end, Approved

#138 edit add project
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/AddProjectModal/index.jsx
  client/src/components/AddProjectModal/style.css
  client/src/components/DashboardCards/Project.jsx
  client/src/components/DashboardCards/Slide.jsx
  client/src/components/DashboardCards/Task.jsx
  client/src/components/Navbar/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/images/default.png
  client/src/index.js
  client/src/pages/Dashboard/index.jsx
  client/src/pages/Dashboard/style.css
  client/src/state/addProject.js
  client/src/state/index.js
  server/src/database/config/fakeData.sql
Labels: front-end, Approved

#142 Calendar page
  client/package-lock.json
  client/package.json
  client/src/components/AddProjectModal/index.jsx
  client/src/components/AddProjectModal/style.css
  client/src/components/Calendar/index.jsx
  client/src/components/Modal/index.jsx
  client/src/components/Project/Board.jsx
  client/src/components/Project/List.jsx
  client/src/components/TaskForm/index.jsx
  client/src/components/UI/pagination.jsx
  client/src/index.js
  client/src/pages/Task/index.jsx
  client/src/state/date.js
  client/src/state/index.js
  client/src/state/projectId.js
  server/src/controllers/index.ts
  server/src/controllers/tasks/getTasks.ts
  server/src/controllers/tasks/index.ts
  server/src/database/index.ts
  server/src/database/quieres/index.ts
  server/src/database/quieres/tasks/getTasksQuery.ts
  server/src/database/quieres/tasks/index.ts
  server/src/routes/tasksRoute.ts
Labels: back-end, front-end, Approved

#151 Update README
  README.md
Labels: Approved

#154 Fix bugs
  README.md
  client/src/App.js
  client/src/components/Calendar/index.jsx
  client/src/components/LandingPage/BannerSec.jsx
  client/src/components/LandingPage/Footer.jsx
  client/src/components/LandingPage/Navbar.jsx
  client/src/components/Navbar/index.jsx
  client/src/components/Project/Board.jsx
  client/src/components/Project/Overview.jsx
  client/src/components/Sidebar/index.jsx
  client/src/components/StaffHeader/index.jsx
  client/src/components/StaffMember/index.jsx
  client/src/components/Table/index.jsx
  client/src/components/TaskForm/index.jsx
  client/src/components/index.js
  client/src/images/nodata.svg
  client/src/index.css
  client/src/pages/Calendar/index.jsx
  client/src/pages/Dashboard/index.jsx
  client/src/pages/Dashboard/style.css
  client/src/pages/Task/index.jsx
  client/src/pages/index.js
  client/src/services/http.js
  client/src/utils/checkAuth.js
  client/src/utils/helpers/formatDate.js
  client/src/utils/helpers/generateAvatarColor.js
  client/src/utils/helpers/generateGreeting.js
  client/src/utils/helpers/getToken.js
  client/src/utils/helpers/index.js
  client/src/utils/helpers/statusColor.js
  client/src/utils/index.js
  client/src/utils/loginValidation.js
  client/src/utils/validation/addProjectValidation.js
  client/src/utils/validation/addTaskValidation.js
  client/src/utils/validation/index.js
  client/src/utils/validation/loginValidation.js
  client/src/utils/validation/sendEmailValidation.js
  client/src/utils/validation/signUpValidation.js
  server/src/app.ts
  server/src/database/config/build.sql
  server/src/database/config/fakeData.sql
Labels: Awaiting Review, front-end
